.centersuitbtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #f8f8f8;
    border-radius: 6px;
    color: black;
    padding: 10px;
    outline: 0;
    cursor: pointer;
    font-size: 1.1rem;
  }

.text_alnRight{
    text-align: right;
}

.text_alnCenter{
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }