@media (max-width: 600px) {
    .fc-toolbar {
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .fc-toolbar .fc-left {
        width: 100%;
        margin-bottom: 10px;
    }

    .fc-toolbar .fc-right {
        width: 100%;
    }

    .AppointmentCalendar-paper-63 {
        max-width: 80%;
        box-sizing: border-box;
    }
}